<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false">
        </agm-marker>
    </agm-map>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-button (click)="close()" slot="end" color="danger">Cerrar</ion-button>
    </ion-toolbar>
</ion-footer>